.contentPanel {
  width: 100%;
  color: var(--text-secondary);
  padding-top: 10px;
}
  
.contentPanelHeading {
  width: 100%;
  padding: 20px;
}

.contentPanelTitle {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.contentPanelBody {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
}

.contentPanelText {
  flex: 1;
  font-size: 16px;
  line-height:2;
  max-width: 1200px;
}

.contentPanelTextTitle {
  font-size: 20px;
}

.secondaryText {
  margin-top: 20px;
}

.contentPanelImageWrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

.contentPanelImageVerticalWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0 0;
  max-width: 300px; 
}

.contentPanelImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentPanelImageVerticalWrapper .contentPanelImage {
  height: auto;
}

.line {
  border-top: 1px solid #ddd;
  width: 100%;
}

@media (max-width: 1200px) {
  .contentPanelImageWrapper {
    width: 35%;
  }
  .contentPanelBody {
    padding: 15px;
  }

}

@media (max-width: 1000px) {
  .contentPanelText {
    font-size: 16px;
  }
  .contentPanelTitle {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .contentPanelBody {
    flex-direction: column-reverse !important;
  }

  .contentPanelImageWrapper {
    width: 100%;
    max-width: 100%;
  }

  .contentPanelImageVerticalWrapper {
    margin: 0 auto;
    width: 100%;
  }
  .contentPanelText {
    padding: 10px 0 0;
  }
}

@media (max-width: 500px) {
  .contentPage {
    padding-top: 50px;
  }
  .contentPanelTitle {
    font-size: 22px;
  }
  .contentPanelImageWrapper {
    min-width: 100%;
  }
  .contentPanelText {
    font-size: 14px;
  }
}