.mobileNavigation {
  display: none;
}

.mobileNavbarBody {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 240;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear;
}

.mobileNavbarBody a {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 27px;
  margin:20px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.mobileLogo {
  margin: 0 0 55px;
  width: 280px;
}

@media (max-width: 500px) {
  .mobileNavbarBody a {
    font-size: 18px;
  }
  .mobileLogo {
    width: 180px;
  }
}

@media (max-width: 360px) {
  .mobileLogo {
    margin: 0 0 25px;
  }
}

.mobileLinksWrapper {
  border: 2px dashed var(--text-color);
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 20px;
}

.hamburger {
  align-items: center;
  display: flex;
  cursor: pointer;
  width: 33px;
  height: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.hamburgerBar {
  width: 90%;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 10px;
  display: block;
  z-index: 250;
  transition: all 200ms ease-in;
}

.hamburgerWrapper {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 249;
  display: none;
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 20%;
}

.hamburgerTextWrapper {
  display: none;
}

.hamburgerText {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

@media (max-width: 500px) {
  .hamburgerWrapper {
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 0;
    border-bottom: 2px solid #c4c4c4;
  }
  .hamburgerTextWrapper {
    display: block;
  }
}

.hamburgerWrapper:focus {
  outline: none;
}

#bar1 {
  transform-origin: 50% 50%;
}

#bar3 {
  transform-origin: 50% 50%;
}

@-webkit-keyframes animated {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}

@keyframes animated {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}

@media (max-width: 1000px) {
  .mobileNavigation {
      display: block;
  }
  .hamburgerWrapper {
      display: flex;
  }
}

@media (orientation: landscape) {
  .mobileNavbarBody a {
      margin: 15px;
      padding: 0;
  }
}