.myNavbar {
  height: 100%;
  width: 215px;
  justify-content: center;
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 200;
  overflow: hidden;
  color: var(--text-color)
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links {
  justify-content: center;
  width: 100%;
}

.link {
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.link:last-child {
  margin-bottom: 0;
}

.link::after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -8px;
  border-top: 2px solid #fff;
  left: 50%;
  transition: width ease-out 200ms;
  border-radius: 5px;
  transform: translate(-50%, 0)
}

.link:hover::after {
  width: 110%;
}

.underl

@-webkit-keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#logoContainer {
  height: 25%;
  font-size: 25px;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.logoImg {
  width: 90%;
}

.buyNowButtonWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buyNowButton {
  width: 160px;
  height: 45px;
  background-color: var(--text-color);
  color: #000;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-shadow: 0px 4px 4px #00000040;
}

.buyNowButton:focus {
  outline: none;
}

.buyNowButton:active {
  transform: translateY(1px);
}

.buyNowButton:hover {
  background-color: #f8a622;
}

@media (max-width: 1150px) {
  .link {
      font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .myNavbar {
    display: none;
  }
}
