#showcase {
  background-image: url(../images/tenis-rytmiczny-background.jpg);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  justify-content: space-between;
  background-repeat: no-repeat;
}

#showcaseHeader {
  padding: 28px 56px;
  background: rgba(255, 255, 255, 0.609);
  border-radius: 0px;
  margin-top: 20px;
}

.title {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 4px 4px #00000040;
  font-weight: 600;
  color: #000;
  letter-spacing: 6%;
  line-height: 120%;
  text-align: center;
}

#showcaseTitle {
  font-size: 60px;
}

#showcaseSubtitle {
  font-size: 45px;
  margin-top: 10px;
}

#showcaseDescription {
  display: flex;
  height: 65px;
  width: 80%;
  background: var(--secondary-color);
  margin-bottom: 50px;
}

.showcaseParagraph {
  align-items: center;
  display: flex;
  font-size: 25px;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 2;
  padding: 10px 10px 15px 10px;
}

.book {
  flex-basis: 35%;
  min-width: fit-content;
}

.bookContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: auto;
  width: 80%;
}

.bookCover {
  background-color: #e5e5e5;
  height: 325px;
  margin-bottom: 30px;
  width: 225px;
}

.largeParagraph {
  flex-basis: 65%;
  flex-grow: 1;
}

.smallParagraph {
  color: var(--text-secondary);
  background: #e5e5e5;
  flex-basis: 35%;
  flex-grow: 2;
}

#teamImg {
  max-width: 700px;
  width: 45%;
  z-index: 2;
  box-shadow: -4px 4px 10px black;
}

#showcase button {
  margin-bottom: 4%;
  font-size: 20px;
}

/* -- Media Queries -- */
  
@media (max-width: 1380px) {
  #showcaseHeader {
      font-size: 20px;
  }

  #showcaseParagraph {
      font-size: 15px;
  }

  #showcaseButton {
      padding: 16px;
      font-size: 18px;
  }

  #teamImg {
      width: 55%;
  }
}

@media (max-width: 1200px) {
  #showcase {
    background-position: 0% 50%;
  }
  #showcaseTitle {
    font-size: 45px;
  }
  #showcaseSubtitle {
    font-size: 27px;
  }
  .showcaseParagraph {
    font-size: 20px;
  }
  #showcaseDescription {
    width: 90%;
  }
  .bookContainer {
    width: 90%;
  }
  .bookCover {
    height: 280px;
    width: 180px;
  }
}

@media (max-width: 1000px) {
  #showcase {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
  #showcase {
    background-position: 0% center;
  }
  #showcaseHeader {
    width: 100%;
    padding: 15px 55px 20px;
  }
  #showcaseTitle {
    font-size: 35px;
  }

  #showcaseSubtitle {
    font-size: 20px;
  }
  .bookContainer {
    justify-content: center;
  }
  .bookCover {
    display: none;
  }
  #showcaseDescription {
    width: 100%;
  }

  .showcaseParagraph {
    line-height: 2;
  }
}

@media (max-width: 650px) {
  #showcase {
    background-position: 15% center;
    justify-content: space-between;
  }
  #showcaseDescription {
    flex-direction: column;
    margin-bottom: 0;
    height: fit-content;
  }
}

@media (max-width: 500px) {
  .bookContainer {
    margin-bottom: 10px;
  }
  #showcaseHeader {
    margin-top: 50px;
  }
  #showcaseTitle {
    font-size: 26px;
  }
  #showcaseSubtitle {
    font-size: 18px
  }
  .showcaseParagraph {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  #showcaseTitle {
    font-size: 22px
  }
}