:root {
  --box-shadow: 2px 2px 5px rgb(0, 0, 0);
  --text-color: #FBB13C;
  --text-secondary: #000;
  --primary-color: #c4c4c4;
  --secondary-color: #424242;
  --tertiary-color: #f9dc5c;
  --attention-color: #ee254e;
  scroll-behavior: smooth;
  font-size: 10px;
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 580px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 360px) {
  :root {
    font-size: 7.5px;
  }
}